body{
    background-image: linear-gradient(to right, #870000, #830081);
    margin: 0;
    font-size: 2em;
}

.container{
    margin: 0 15vw;
    animation: backColorChange 0.5s forwards;
}

.container:hover{
    animation: colorChange 0.5s forwards;
}

@keyframes colorChange{
    0%{
        color: black;
    }

    100%{
        color:aqua;
        text-shadow: 0.01em 0.01em 0.1em red, 0 0 1em blue, 0 0 0.2em blue;
    }
}

@keyframes backColorChange{
    0%{
        color:aqua;
        text-shadow: 0.01em 0.01em 0.1em red, 0 0 1em blue, 0 0 0.2em blue;
    }

    100%{
        color: black;
    }
}

.divider{
    border: solid 0.05em;
    margin: 0.5em;
    border-radius: 20%;
}

.meme{
    padding: 0.4em 0px;
    cursor: pointer;
}

.pic{
    width: 40vw;
    margin: 0.5em 15vw;
    display: none;
}

.radio-button{
    cursor: pointer;
    display: block;
}

.radio-button>input:checked~img, .meme:hover>.radio-button>img{
    display: block;
    animation: appear 1s;
}

@keyframes appear{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

input{
    appearance: none;
    margin: 0;
}

input::after{
    content: "";
}

h1, input:checked~span{
    color:aqua;
    text-shadow: 0.01em 0.01em 0.1em red, 0 0 1em blue, 0 0 0.2em blue;
}